[Unit]
Description=Timetagger to track your working time
Documentation=https://github.com/almarklein/timetagger
Requires=network.target
After=network.target

[Service]
Environment="TIMETAGGER_BIND={{ timetagger_bind_address }}"
Environment="TIMETAGGER_DATADIR={{ timetagger_datadir }}"
Environment="TIMETAGGER_LOG_LEVEL={{ timetagger_loglevel }}"
Environment="TIMETAGGER_CREDENTIALS={% for item in timetagger_credentials %}{{ item.username }}:{{ item.hash_password }},{% endfor %}"

Type=simple
User={{ timetagger_user }}
ExecStart={{ timetagger_venv_path }}/bin/python3 -m timetagger
#WorkingDirectory={{ timetagger_datadir }}
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target